.curriculo, .artigos, .portfolio, .sobre {
  margin: 6vh 7vw 12vh;
}
@media (min-width: 1280px) {
  .curriculo, .artigos, .portfolio, .sobre {
    margin: 6vh 5vw 10vh;
  }
}

.curriculo__titulo, .artigos__titulo, .portfolio__titulo, .sobre__titulo {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #2d2d2d;
}
@media (min-width: 768px) {
  .curriculo__titulo, .artigos__titulo, .portfolio__titulo, .sobre__titulo {
    font-size: 1.8rem;
  }
}
@media (min-width: 1280px) {
  .curriculo__titulo, .artigos__titulo, .portfolio__titulo, .sobre__titulo {
    margin-bottom: 1.5rem;
  }
}

.curriculo__nome, .artigos__nome {
  font-size: 1rem;
  color: #4f4f4f;
  margin-bottom: 0.6rem;
}
@media (min-width: 768px) {
  .curriculo__nome, .artigos__nome {
    font-size: 1.3rem;
  }
}
@media (min-width: 1280px) {
  .curriculo__nome, .artigos__nome {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
  }
}

.portfolio__card-descricao, .sobre p {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #303030;
  line-height: 30px;
}
@media (min-width: 768px) {
  .portfolio__card-descricao, .sobre p {
    font-size: 1.3rem;
  }
}
@media (min-width: 1280px) {
  .portfolio__card-descricao, .sobre p {
    font-size: 1.2rem;
  }
}

.curriculo__descricao, .artigos__descricao {
  display: none;
}
@media (min-width: 1280px) {
  .curriculo__descricao, .artigos__descricao {
    display: block;
    color: #6d6d6d;
    margin-bottom: 0.5rem;
  }
}

.curriculo__data, .artigos__data {
  color: #8b8b8b;
  margin: 0 0 0.5rem;
  font-size: 0.8rem;
}
@media (min-width: 768px) {
  .curriculo__data, .artigos__data {
    font-size: 0.9rem;
  }
}
@media (min-width: 1280px) {
  .curriculo__data, .artigos__data {
    margin: 0.4rem 0;
    font-size: 0.85rem;
  }
}

.rodape a, .portfolio__card-link {
  font-size: 0.8rem;
  text-decoration: none;
  color: #4f4f4f;
}
.rodape a:hover, .portfolio__card-link:hover {
  color: #000000;
  border-bottom: 1px solid #000000;
  margin-top: 1px;
}
@media (min-width: 768px) {
  .rodape a, .portfolio__card-link {
    font-size: 0.9rem;
  }
}

.artigos__tag, .portfolio__card-tag {
  padding: 0.3rem;
  margin-right: 0.5rem;
  border-radius: 3px;
  display: inline-block;
  font-size: 0.7rem;
}
@media (min-width: 768px) {
  .artigos__tag, .portfolio__card-tag {
    font-size: 0.8rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Proza Libre", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #f1f5f6;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #6d6d6d;
}
::-webkit-scrollbar-thumb:hover {
  background: #4f4f4f;
}

.navbar {
  height: 10vh;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: fixed;
  top: 0;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 5;
  width: 100%;
}
@media (min-width: 1280px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 12vh;
    padding: 0 3rem;
  }
}
@media (min-width: 1920px) {
  .navbar {
    height: 10vh;
  }
}
.navbar--mobile-topo {
  background-image: none;
  background-color: transparent;
  position: fixed;
  top: 0;
  right: auto;
  bottom: auto;
  left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.navbar--mobile-base {
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: auto;
  right: auto;
  bottom: 0;
  left: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.navbar--mobile-base .navbar__logo {
  margin-top: 0;
  height: 5vh;
}
.navbar--desktop-topo {
  background-image: none;
  background-color: transparent;
}
.navbar--desktop-home {
  background-image: none;
  background-color: #f1f5f6;
}
.navbar--desktop-inferior {
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.navbar__secoes {
  display: none;
}
@media (min-width: 1280px) {
  .navbar__secoes {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    width: 20vw;
    list-style: none;
  }
}
@media (min-width: 1920px) {
  .navbar__secoes {
    width: 15vw;
  }
}
.navbar__secoes li {
  font-size: 1rem;
  cursor: pointer;
}
@media (min-width: 1920px) {
  .navbar__secoes li {
    font-size: 1.2rem;
  }
}
.navbar__logo {
  height: 7vh;
  margin-top: 3rem;
  cursor: pointer;
}
@media (min-width: 1280px) {
  .navbar__logo {
    margin-top: 0;
    height: 5vh;
  }
}
.navbar__subir {
  width: 30px;
  height: 20px;
  background-image: url("./assets/icones/down.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: rotate(180deg);
  display: none;
}
.navbar__subir--adicionar {
  display: block;
}
.navbar__subir--remover {
  display: none;
}
.navbar__descer {
  width: 30px;
  height: 20px;
  background-image: url("./assets/icones/down.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: none;
}
.navbar__descer--adicionar {
  display: block;
}
.navbar__descer--remover {
  display: none;
}
.navbar__contatos {
  display: none;
}
@media (min-width: 1280px) {
  .navbar__contatos {
    width: 20vw;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    flex-direction: row;
  }
}
@media (min-width: 1920px) {
  .navbar__contatos {
    width: 15vw;
  }
}
.navbar__contatos li {
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 1.5rem;
  height: 35px;
}
@media (min-width: 1920px) {
  .navbar__contatos li {
    height: 40px;
    margin-left: 2rem;
  }
}

.icone-contatos {
  height: 35px;
  width: 35px;
}
@media (min-width: 1920px) {
  .icone-contatos {
    height: 40px;
    width: 40px;
  }
}

.home {
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 15vh 8vw 5vh 8vw;
}
@media (min-width: 1280px) {
  .home {
    padding: 18vh 12vw 6vh 8vw;
    width: 95vw;
    height: 83vh;
    margin: 12vh auto;
    border-radius: 25px;
    transform-style: preserve-3d;
    cursor: pointer;
  }
}
@media (min-width: 1920px) {
  .home {
    padding: 20vh 12vw 6vh 8vw;
    width: 96vw;
    height: 86vh;
    margin: 10vh auto;
  }
}
.home__conteudo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
}
@media (min-width: 1280px) {
  .home__conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}
.home__texto {
  width: 100%;
  height: auto;
  padding: 2.5rem 0 5rem;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
@media (min-width: 768px) {
  .home__texto {
    padding: 5rem 0 8rem;
  }
}
@media (min-width: 1280px) {
  .home__texto {
    padding: 3rem;
    height: 40vh;
    width: 45vw;
  }
}
.home__titulo {
  color: #ffffff;
  font-size: 1.6rem;
  text-align: left;
}
@media (min-width: 768px) {
  .home__titulo {
    font-size: 2.6rem;
  }
}
@media (min-width: 1280px) {
  .home__titulo {
    font-size: 2.2rem;
    margin-top: 3rem;
    margin-top: 0;
  }
}
@media (min-width: 1920px) {
  .home__titulo {
    font-size: 2.6rem;
  }
}
.home__subtitulo {
  margin-top: 1.5rem;
  font-size: 1.3rem;
  color: #f1f1f1;
}
@media (min-width: 768px) {
  .home__subtitulo {
    font-size: 1.8rem;
  }
}
@media (min-width: 1280px) {
  .home__subtitulo {
    font-size: 1.4rem;
    margin-top: 1.5rem;
  }
}
@media (min-width: 1920px) {
  .home__subtitulo {
    font-size: 1.8rem;
  }
}
.home__ilustracao {
  max-width: 30vw;
  max-height: 15vh;
}
@media (min-width: 1280px) {
  .home__ilustracao {
    max-width: 15vw;
    max-height: 25vh;
  }
}
@media (min-width: 1920px) {
  .home__ilustracao {
    max-width: 20vw;
    max-height: 30vh;
  }
}
.home__rolar {
  background-image: url("./assets/icones/down.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30px;
  width: 50px;
}
@media (min-width: 1280px) {
  .home__rolar {
    height: 25px;
    width: 40px;
  }
}
@media (min-width: 1920px) {
  .home__rolar {
    height: 30px;
    width: 50px;
  }
}

@media (min-width: 1280px) {
  .sobre {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .sobre__texto {
    width: 60%;
  }
}
.sobre__insignias-borda {
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  padding: 3px;
  box-shadow: 3px 3px 39px rgba(0, 0, 0, 0.03);
  margin-top: 3rem;
}
@media (min-width: 1280px) {
  .sobre__insignias-borda {
    width: 30%;
    margin-right: 3rem;
    max-height: 20rem;
  }
}
@media (min-width: 1920px) {
  .sobre__insignias-borda {
    max-height: 30rem;
  }
}
.sobre__insignias-conteudo {
  height: 100%;
  background-color: #ffffff;
  border-radius: 18px;
  padding: 1rem 1rem 2rem 1rem;
}
@media (min-width: 768px) {
  .sobre__insignias-conteudo {
    padding: 2rem 2rem 3rem 3rem;
  }
}
@media (min-width: 1280px) {
  .sobre__insignias-conteudo {
    padding: 1rem;
  }
}
@media (min-width: 1920px) {
  .sobre__insignias-conteudo {
    padding: 2rem;
  }
}
.sobre__insignias-titulo {
  text-align: center;
  font-size: 1.2rem;
  color: #4f4f4f;
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .sobre__insignias-titulo {
    font-size: 1.4rem;
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 1280px) {
  .sobre__insignias-titulo {
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 1920px) {
  .sobre__insignias-titulo {
    margin-bottom: 2.5rem;
  }
}
.sobre__insignias-grid {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}
@media (min-width: 768px) {
  .sobre__insignias-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1280px) {
  .sobre__insignias-grid {
    gap: 15px;
  }
}
.sobre__insignias-grid li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-flow: column-reverse;
  font-weight: 600;
  color: #6d6d6d;
  font-size: 0.6rem;
  text-align: center;
}
@media (min-width: 768px) {
  .sobre__insignias-grid li {
    font-size: 0.9rem;
  }
}
@media (min-width: 1280px) {
  .sobre__insignias-grid li {
    font-size: 0.5rem;
  }
}
.sobre__insignias-grid img {
  width: 40px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .sobre__insignias-grid img {
    width: 60px;
  }
}
@media (min-width: 1280px) {
  .sobre__insignias-grid img {
    width: 40px;
  }
}
@media (min-width: 1920px) {
  .sobre__insignias-grid img {
    width: 50px;
  }
}

.portfolio__cards {
  margin-top: 2rem;
  list-style: none;
  display: grid;
  gap: 2rem;
}
@media (min-width: 1280px) {
  .portfolio__cards {
    grid-template-columns: 1fr 1fr;
  }
}
.portfolio__card-borda {
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 32vh;
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
@media (min-width: 1280px) {
  .portfolio__card-borda {
    height: 62vh;
    border-radius: 20px;
  }
}
@media (min-width: 1920px) {
  .portfolio__card-borda {
    height: 40vh;
  }
}
.portfolio__card-borda:hover {
  padding: 6px;
}
.portfolio__card-borda:hover .portfolio__card-tela {
  display: block;
}
.portfolio__card-borda:hover .portfolio__card-texto {
  display: block;
}
.portfolio__card-borda:hover .portfolio__card-imagem {
  filter: grayscale(100%) blur(1px);
}
.portfolio__card-imagem {
  height: 100%;
  border-radius: 7px;
  display: block;
}
@media (min-width: 1280px) {
  .portfolio__card-imagem {
    border-radius: 16px;
  }
}
.portfolio__card-imagem--notely {
  background-image: url("./assets/projetos/notely.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.portfolio__card-imagem--qrkey {
  background-image: url("./assets/projetos/qrkey.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.portfolio__card-imagem--dynos {
  background-image: url("./assets/projetos/dynos.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.portfolio__card-imagem--website {
  background-image: url("./assets/projetos/website.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.portfolio__card-tela {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  border-radius: 7px;
  background-color: #ffffff;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  display: none;
  filter: opacity(86%);
}
@media (min-width: 1280px) {
  .portfolio__card-tela {
    border-radius: 16px;
  }
}
.portfolio__card-texto {
  position: absolute;
  top: 10px;
  right: auto;
  bottom: auto;
  left: 10px;
  display: none;
  width: calc(100% - 20px);
  padding: 1.5rem;
}
.portfolio__card-titulo {
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
}
.portfolio__card-subtitulo {
  color: #2d2d2d;
  margin-top: 1rem;
  margin-bottom: 0.4rem;
}
.portfolio__card-link {
  margin-right: 0.5rem;
}

.tag-html {
  background-color: #f4a684;
}

.tag-scss {
  background-color: #e2acc8;
}

.tag-javascript {
  background-color: #f4e57e;
}

.tag-python {
  background-color: #ffd264;
}

.tag-react {
  background-color: #94e6fd;
}

.tag-typescript {
  background-color: #33adff;
}

.tag-expo {
  background-color: #e6e6e6;
}

.artigos__post {
  width: 100%;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 1rem;
}
@media (min-width: 1280px) {
  .artigos__post {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    transition: 0.2s;
    max-height: 35vh;
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 1920px) {
  .artigos__post {
    max-height: 20vh;
  }
}
.artigos__post:hover {
  transform: scale(1.02);
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.08);
}
.artigos__imagem {
  display: none;
}
@media (min-width: 1280px) {
  .artigos__imagem {
    display: block;
    width: 30%;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
  }
}
.artigos__conteudo {
  padding: 1rem;
  width: 100%;
}
@media (min-width: 768px) {
  .artigos__conteudo {
    padding: 1.5rem 2rem 1.5rem 1.5rem;
  }
}
@media (min-width: 1280px) {
  .artigos__conteudo {
    width: 70%;
    padding: 1rem 2rem 1rem 1.5rem;
  }
}
@media (min-width: 1920px) {
  .artigos__conteudo {
    padding: 1.5rem 3rem 1.5rem 2rem;
  }
}
.artigos__tag {
  color: #000000;
  background-color: #d1d1d1;
}

.curriculo__borda {
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding-left: 4px;
}
.curriculo__cards {
  background-color: #f1f5f6;
}
.curriculo__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 1rem;
  border-radius: 0 10px 10px 0;
  transition: 0.2s;
}
.curriculo__card:hover {
  background-color: #e5ecee;
}
.curriculo__bolinha {
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-left: calc(-12px - 1rem);
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.curriculo__bolinha::after {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 14px;
  background-color: #ffffff;
  position: absolute;
  top: 3px;
  right: auto;
  bottom: auto;
  left: 3px;
}
.curriculo__conteudo {
  width: 75vw;
}
@media (min-width: 768px) {
  .curriculo__conteudo {
    width: 80vw;
  }
}
@media (min-width: 1280px) {
  .curriculo__conteudo {
    width: 85vw;
  }
}
.rodape {
  width: 90vw;
  height: 15vh;
  margin: 5vh 5vw 10vh 5vw;
  padding: 1rem 2rem;
  border-top: 1px solid #d2dfe2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column-reverse;
}
@media (min-width: 768px) {
  .rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 2rem;
    height: 10vh;
  }
}
@media (min-width: 1280px) {
  .rodape {
    margin: 5vh 5vw 0 5vw;
    height: 12vh;
  }
}
.rodape span {
  font-size: 0.8rem;
  color: #4f4f4f;
}
@media (min-width: 768px) {
  .rodape span {
    font-size: 0.9rem;
  }
}

/*# sourceMappingURL=style.css.map */
