// sass -w style.scss style.css

// Adicionar o normalize.scss
@import "style/responsivo";
@import "style/cores";
@import "style/funcoes";

@import "style/geral";
@import "style/navbar";
@import "style/home";
@import "style/sobre";
@import "style/portfolio";
@import "style/artigos";
@import "style/curriculo";
@import "style/rodape";

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba($color: $black, $alpha: 0.6);
  z-index: 10;
  overflow-y: hidden;

  &__fechar {
    color: $white;
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 1.8rem;
    width: 20px;
    height: 20px;
    @include backgroundImage("./assets/icones/fechar.svg");
    cursor: pointer;
  }

  &__portfolio {
    &-container {
      position: absolute;
      width: 100%;
      height: 90vh;
      background-color: $white;
      bottom: 0;
      display: flex;
      flex-direction: column;
      overflow-y: auto;

      @include laptop() {
        width: 60%;
        height: 100vh;
        margin-left: 50%;
        transform: translateX(-50%);
      }
    }

    &-imagens {
      height: 50vh;
      object-fit: cover;

      @include laptop() {
        height: 60vh;
      }
    }

    &-conteudo {
      min-height: 40vh;
      padding: 1.5rem;
    }
  }
}
