$background: #f1f5f6;

$black: #000000;
$cinzaEscuro: rgb(45, 45, 45);
$cinzaQuaseEscuro: rgb(48, 48, 48);
$cinzaSemiEscuro: rgb(79, 79, 79);
$cinzaMediano: rgb(109, 109, 109);
$cinzaSemiClaro: rgb(139, 139, 139);
$cinzaQuaseClaro: rgb(209, 209, 209);
$cinzaClaro: rgb(241, 241, 241);
$white: #ffffff;

$temaHTML: #eb6227;
$temaSCSS: #c86095;
$temaJavascript: #f0db4f;
$temaPython: #ffc331;
$temaReact: #62dafc;
$temaTypescript: #007acc;
