.curriculo {
  @extend %secao;

  &__titulo {
    @extend %titulo-secao;
  }

  &__borda {
    @include backgroundImage("./assets/background.png");
    width: 100%;
    padding-left: 4px;
  }

  &__cards {
    background-color: $background;
  }

  &__card {
    @include flexContainer(space-between, center);
    padding: 1rem;
    border-radius: 0 10px 10px 0;
    transition: 0.2s;
    &:hover {
      background-color: darken($color: $background, $amount: 4);
    }
  }

  &__bolinha {
    @include backgroundImage("./assets/background.png");
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-left: calc(-12px - 1rem);
    @include positioning();

    &::after {
      content: "";
      width: 14px;
      height: 14px;
      border-radius: 14px;
      background-color: $white;
      @include positioning(absolute, $top: 3px, $left: 3px);

      @include laptop() {
      }
    }
  }

  &__conteudo {
    width: 75vw;

    @include tablet() {
      width: 80vw;
    }

    @include laptop() {
      width: 85vw;
    }
  }

  &__data {
    @extend %data;
  }
  &__nome {
    @extend %subtitulo-secao;
  }
  &__descricao {
    @extend %texto-descricao;
  }
}
