@mixin backgroundImage($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin removeBackgroundImage($color) {
  background-image: none;
  background-color: $color;
}

@mixin flexContainer($justify: flex-start, $align: stretch, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin positioning(
  $format: relative,
  $top: auto,
  $right: auto,
  $bottom: auto,
  $left: auto
) {
  position: $format;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

%secao {
  margin: 6vh 7vw 12vh;

  @include laptop() {
    margin: 6vh 5vw 10vh;
  }
}

%titulo-secao {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: $cinzaEscuro;

  @include tablet() {
    font-size: 1.8rem;
  }

  @include laptop() {
    margin-bottom: 1.5rem;
  }
}

%subtitulo-secao {
  font-size: 1rem;
  color: $cinzaSemiEscuro;
  margin-bottom: 0.6rem;

  @include tablet() {
    font-size: 1.3rem;
  }

  @include laptop() {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
  }
}

%texto-conteudo {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: $cinzaQuaseEscuro;
  line-height: 30px;

  @include tablet() {
    font-size: 1.3rem;
  }

  @include laptop() {
    font-size: 1.2rem;
  }
}

%texto-descricao {
  display: none;

  @include laptop() {
    display: block;
    color: $cinzaMediano;
    margin-bottom: 0.5rem;
  }
}

%data {
  color: $cinzaSemiClaro;
  margin: 0 0 0.5rem;
  font-size: 0.8rem;

  @include tablet() {
    font-size: 0.9rem;
  }

  @include laptop() {
    margin: 0.4rem 0;
    font-size: 0.85rem;
  }
}

%link {
  font-size: 0.8rem;
  text-decoration: none;
  color: $cinzaSemiEscuro;

  &:hover {
    color: $black;
    border-bottom: 1px solid $black;
    margin-top: 1px;
  }

  @include tablet() {
    font-size: 0.9rem;
  }
}

%tag {
  padding: 0.3rem;
  margin-right: 0.5rem;
  border-radius: 3px;
  display: inline-block;
  font-size: 0.7rem;

  @include tablet() {
    font-size: 0.8rem;
  }
}
