// GERAL
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Proza Libre", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: $background;
}

// SCROLLBAR
::-webkit-scrollbar {
  width: 8px;

  &-track {
    background: transparent;
  }

  &-thumb {
    background: $cinzaMediano;

    &:hover {
      background: $cinzaSemiEscuro;
    }
  }
}
