.home {
  @include backgroundImage("./assets/background.png");
  @include flexContainer(space-between, center, column);
  width: 100%;
  height: 100vh;
  padding: 15vh 8vw 5vh 8vw;
  
  @include small() {
    padding: 20vh 12vw 6vh 8vw;
    width: 96vw;
    height: 86vh;
    margin: 10vh auto;

    border-radius: 25px;

    transform-style: preserve-3d;
    cursor: pointer;
  }

  &__conteudo {
    @include flexContainer(space-between, center, column);
    width: 100%;
    height: auto;

    @include small() {
      @include flexContainer(space-between, center, row);
    }
  }

  &__texto {
    width: 100%;
    height: 40vh;
    padding: 3rem 0;
    transform-style: preserve-3d;
    @include flexContainer(center, flex-start, column);

    @include small() {
      width: 45vw;
    }
  }

  &__titulo {
    color: $white;
    font-size: 2rem;
    text-align: left;
    margin-top: 3rem;

    @include small() {
      font-size: 2.6rem;
      margin-top: 0;
    }
  }

  &__subtitulo {
    margin-top: 1.5rem;
    font-size: 1.4rem;
    color: $cinzaClaro;

    @include small() {
      font-size: 1.8rem;
    }
  }

  &__ilustracao {
    max-width: 40vw;
    max-height: 15vh;
    margin-top: 4rem;

    @include small() {
      max-width: 20vw;
      max-height: 30vh;
      margin-top: 0;
    }
  }

  &__rolar {
    @include backgroundImage("./assets/icones/down.png");
    height: 30px;
    width: 50px;
  }
}
