.navbar {
  height: 10vh;
  padding: 0 2rem;
  @include flexContainer(center, center);
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  
  @include laptop() {
    @include flexContainer(space-between, center);
    height: 12vh;
    padding: 0 3rem;
  }

  @include desktop() {
    height: 10vh;
  }

  &--mobile {
    &-topo {
      background-image: none;
      background-color: transparent;
      top: 0;
      bottom: auto;
      justify-content: center;
    }
    &-base {
      background-image: url('./assets/background.png');
      background-size: cover;
      background-position: center;
      top: auto;
      bottom: 0;
      justify-content: space-around;
        .navbar__logo {
          margin-top: 0;
          height: 5vh;
        }
    }
  }

  &--desktop {
    &-topo {
      background-image: none;
      background-color: transparent;
    }
    &-home {
      background-image: none;
      background-color: rgb(241, 245, 246);
    }
    &-inferior {
      background-image: url('./assets/background.png');
      background-size: cover;
      background-position: center;
    }
  }

  &__secoes {
    width: 30vw;
    list-style: none;
    display: none;

    @include laptop() {
      @include flexContainer(space-around);
    }

    li {
      font-size: 1rem;
      cursor: pointer;
      
      @include desktop() {
        font-size: 1.2rem;
      }
    }
  }

  &__logo {
    height: 7vh;
    margin-top: 3rem;
    cursor: pointer;

    @include laptop() {
      margin-top: 0;
      height: 5vh;
    }
  }

  &__subir {
    width: 30px;
    height: 20px;
    @include backgroundImage("./assets/icones/down.png");
    transform: rotate(180deg);
    display: none;

    &--adicionar {
      display: block;
    }

    &--remover {
      display: none;
    }
  }
  
  &__descer {
    width: 30px;
    height: 20px;
    @include backgroundImage("./assets/icones/down.png");
    display: none;

    &--adicionar {
      display: block;
    }

    &--remover {
      display: none;
    }
  }

  &__contatos {
    width: 30vw;
    list-style: none;
    display: none;

    @include laptop() {
      @include flexContainer(flex-end);
    }

    li {
      font-size: 1.2rem;
      cursor: pointer;
      margin-left: 1.5rem;
      height: 35px;
      
      @include desktop() {
        height: 40px;
        margin-left: 2rem;
      }
    }
  }
}

.icone-contatos {
  height: 35px;
  width: 35px;
  
  @include desktop() {
    height: 40px;
    width: 40px;
  }
}