.navbar {
  height: 10vh;
  padding: 0 2rem;
  @include flexContainer(center, center);
  @include positioning(fixed, $top: 0);
  z-index: 5;
  width: 100%;

  @include laptop() {
    @include flexContainer(space-between, center);
    height: 12vh;
    padding: 0 3rem;
  }

  @include desktop() {
    height: 10vh;
  }

  &--mobile {
    &-topo {
      @include removeBackgroundImage(transparent);
      @include positioning(fixed, $top: 0);
      @include flexContainer(center, center);
    }
    &-base {
      @include backgroundImage("./assets/background.png");
      @include positioning(fixed, $bottom: 0);
      @include flexContainer(space-around, center);
      .navbar__logo {
        margin-top: 0;
        height: 5vh;
      }
    }
  }

  &--desktop {
    &-topo {
      @include removeBackgroundImage(transparent);
    }
    &-home {
      @include removeBackgroundImage($background);
    }
    &-inferior {
      @include backgroundImage("./assets/background.png");
    }
  }

  &__secoes {
    display: none;
    
    @include laptop() {
      @include flexContainer(space-between);
      width: 20vw;
      list-style: none;
    }
    
    @include desktop(){
      width: 15vw;
    }

    li {
      font-size: 1rem;
      cursor: pointer;

      @include desktop() {
        font-size: 1.2rem;
      }
    }
  }

  &__logo {
    height: 7vh;
    margin-top: 3rem;
    cursor: pointer;

    @include laptop() {
      margin-top: 0;
      height: 5vh;
    }
  }

  &__subir {
    width: 30px;
    height: 20px;
    @include backgroundImage("./assets/icones/down.png");
    transform: rotate(180deg);
    display: none;

    &--adicionar {
      display: block;
    }

    &--remover {
      display: none;
    }
  }

  &__descer {
    width: 30px;
    height: 20px;
    @include backgroundImage("./assets/icones/down.png");
    display: none;

    &--adicionar {
      display: block;
    }

    &--remover {
      display: none;
    }
  }

  &__contatos {
    display: none;
    
    @include laptop() {
      width: 20vw;
      list-style: none;
      @include flexContainer(flex-end);
    }

    @include desktop(){
      width: 15vw;
    }

    li {
      font-size: 1.2rem;
      cursor: pointer;
      margin-left: 1.5rem;
      height: 35px;

      @include desktop() {
        height: 40px;
        margin-left: 2rem;
      }
    }
  }
}

.icone-contatos {
  height: 35px;
  width: 35px;

  @include desktop() {
    height: 40px;
    width: 40px;
  }
}
