.navbar {
  height: 10vh;
  padding: 0 2rem;
  @include flexContainer(center, center);
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  
  @include small() {
    @include flexContainer(space-between, center);
    padding: 0 3rem;
  }

  &--mobile {
    &-topo {
      background-image: none;
      background-color: transparent;
      top: 0;
      bottom: auto;
      justify-content: center;
    }
    &-base {
      background-image: url('./assets/background.png');
      background-size: cover;
      background-position: center;
      top: auto;
      bottom: 0;
      justify-content: space-around;
    }
  }

  &--desktop {
    &-topo {
      background-image: none;
      background-color: transparent;
    }
    &-home {
      background-image: none;
      background-color: rgb(241, 245, 246);
    }
    &-inferior {
      background-image: url('./assets/background.png');
      background-size: cover;
      background-position: center;
    }
  }

  &__secoes {
    width: 30vw;
    list-style: none;
    display: none;

    @include small() {
      @include flexContainer(space-around);
    }

    li {
      font-size: 1.2rem;
      cursor: pointer;
    }
  }

  &__logo {
    height: 5vh;
    cursor: pointer;
  }

  &__subir {
    width: 30px;
    height: 20px;
    @include backgroundImage("./assets/icones/down.png");
    transform: rotate(180deg);
    display: none;

    &--adicionar {
      display: block;
    }

    &--remover {
      display: none;
    }
  }
  
  &__descer {
    width: 30px;
    height: 20px;
    @include backgroundImage("./assets/icones/down.png");
    display: none;

    &--adicionar {
      display: block;
    }

    &--remover {
      display: none;
    }
  }

  &__contatos {
    width: 30vw;
    list-style: none;
    display: none;

    @include small() {
      @include flexContainer(flex-end);
    }

    li {
      font-size: 1.2rem;
      cursor: pointer;
      margin-left: 1.5rem;
    }
  }
}

.remove-controles {
  display: none;
}

.adiciona-controles {
  display: flex;
}