.portfolio {
  margin: 0;

  @include laptop() {
    margin: 6vh 5vw 10vh;
  }

  &__titulo {
    @extend %titulo-secao;
    margin-left: 7vw;

    @include laptop() {
      margin-left: 0;
    }
  }

  &__cards {
    margin-top: 2rem;
    list-style: none;
    display: grid;

    @include laptop() {
      gap: 2rem;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__card {
    &-borda {
      @include backgroundImage("./assets/background.png");
      height: 32vh;
      box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
      transition: 0.2s;

      @include laptop() {
        height: 26rem;
        border-radius: 20px;
        cursor: pointer;

        &:hover {
          padding: 6px;
        }

        &:hover .portfolio__card-tela {
          display: block;
        }

        &:hover .portfolio__card-texto {
          display: block;
        }

        &:hover .portfolio__card-imagem {
          filter: grayscale(100%) blur(1px);
        }
      }
    }

    &-imagem {
      height: 100%;
      display: block;

      @include laptop() {
        border-radius: 16px;
      }

      &--notely {
        @include backgroundImage("./assets/projetos/notely.png");
      }
      &--qrkey {
        @include backgroundImage("./assets/projetos/qrkey.png");
      }
      &--dynos {
        @include backgroundImage("./assets/projetos/dynos.png");
      }
      &--website {
        @include backgroundImage("./assets/projetos/website.png");
      }
    }

    &-tela {
      @include positioning(absolute, $top: 50%, $left: 50%);
      transform: translate(-50%, -50%);
      height: 100%;
      border-radius: 7px;
      background-color: $white;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      display: none;
      filter: opacity(86%);

      @include laptop() {
        border-radius: 16px;
      }
    }

    &-texto {
      @include positioning(absolute, $top: 10px, $left: 10px);
      display: none;
      width: calc(100% - 20px);
      padding: 1.5rem;
    }

    &-titulo {
      font-size: 1.4rem;
      margin-bottom: 0.6rem;
    }

    &-descricao {
      @extend %texto-conteudo;
    }

    &-subtitulo {
      color: $cinzaEscuro;
      margin-top: 1rem;
      margin-bottom: 0.4rem;
    }

    &-tag {
      @extend %tag;
    }

    &-link {
      @extend %link;
      margin-right: 0.5rem;
    }
  }
}

.tag-html {
  background-color: lighten($color: $temaHTML, $amount: 20);
}
.tag-scss {
  background-color: lighten($color: $temaSCSS, $amount: 20);
}
.tag-javascript {
  background-color: lighten($color: $temaJavascript, $amount: 10);
}
.tag-python {
  background-color: lighten($color: $temaPython, $amount: 10);
}
.tag-react {
  background-color: lighten($color: $temaReact, $amount: 10);
}
.tag-typescript {
  background-color: lighten($color: $temaTypescript, $amount: 20);
}
.tag-expo {
  background-color: darken($color: $white, $amount: 10);
}
