// Padrao - 360:800(740)
$mobile: 360px;
// Padrao - 768:1024(960)
$tablet: 768px;

// Padrao - 1280:720(640)
$laptop: 1280px;
// Padrao - 1920:1080(980)
$desktop: 1920px;


@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: $laptop) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}
