.rodape {
  width: 90vw;
  height: 15vh;
  margin: 5vh 5vw 10vh 5vw;
  padding: 1rem 2rem;
  border-top: 1px solid darken($color: $background, $amount: 10);
  @include flexContainer(space-around, center, column-reverse);

  @include tablet() {
    @include flexContainer(space-between, center, row);
    padding: 0 2rem;
    height: 10vh;
  }

  @include laptop() {
    margin: 5vh 5vw 0 5vw;
    height: 12vh;
  }

  span {
    font-size: 0.8rem;
    color: $cinzaSemiEscuro;

    @include tablet() {
      font-size: 0.9rem;
    }
  }

  a {
    @extend %link;
  }
}
