.rodape {
  width: 90vw;
  height: 15vh;
  margin: 5vh 5vw 10vh 5vw;
  padding: 1rem 2rem;
  border-top: 1px solid #cad7da;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column-reverse;

  @include tablet() {
    justify-content: space-between;
    flex-direction: row;
    padding: 0 2rem;
    height: 10vh;
  }
  
  @include laptop() {
    margin: 5vh 5vw 0 5vw;
    height: 12vh;
  }
  
  span {
    font-size: 0.8rem;
    color: #4f4f4f;

    @include tablet() {
      font-size: 0.9rem;
    }
  }

  a {
    @extend %link;
  }
}
