.sobre {
  @extend %secao;

  @include laptop() {
    @include flexContainer(space-between);
  }

  &__texto {
    @include laptop() {
      width: 60%;
    }
  }

  &__titulo {
    @extend %titulo-secao;
  }

  p {
    @extend %texto-conteudo;
  }

  &__insignias {
    &-borda {
      @include backgroundImage("./assets/background.png");
      border-radius: 20px;
      padding: 3px;
      box-shadow: 3px 3px 39px rgba(0, 0, 0, 0.03);
      margin-top: 3rem;

      @include laptop() {
        width: 30%;
        margin-right: 3rem;
        max-height: 20rem;
      }

      @include desktop() {
        max-height: 30rem;
      }
    }

    &-conteudo {
      height: 100%;
      background-color: $white;
      border-radius: 18px;
      padding: 1rem 1rem 2rem 1rem ;

      @include tablet() {
        padding: 2rem 2rem 3rem 3rem;
      }
      
      @include laptop() {
        padding: 1rem;
      }

      @include desktop() {
        padding: 2rem;
      }
    }

    &-titulo {
      text-align: center;
      font-size: 1.2rem;
      color: #4f4f4f;
      margin-bottom: 1.5rem;

      @include tablet() {
        font-size: 1.4rem;
        margin-bottom: 2.5rem;
      }
      
      @include laptop() {
        margin-bottom: 1.5rem;
      }
      
      @include desktop() {
        margin-bottom: 2.5rem;
      }
    }

    &-grid {
      list-style: none;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 25px;
      
      @include tablet() {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }

      @include laptop() {
        gap: 15px;
      }

      li {
        display: flex;
        flex-flow: column-reverse;
        align-items: center;
        font-weight: 600;
        color: #6d6d6d;
        font-size: 0.6rem;
        text-align: center;
        
        @include tablet() {
          font-size: 0.9rem;
        }
        
        @include laptop() {
          font-size: 0.5rem;
        }
      }

      img {
        width: 40px;
        margin-bottom: 10px;

        @include tablet() {
          width: 60px;
        }
        
        @include laptop() {
          width: 40px;
        }

        @include desktop() {
          width: 50px;
        }
      }
    }
  }
}
